.DS_Store
Thumbs.db

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pid.[0-9]*.log
[0-9]*.ld
heapdump-[0-9]*.heapsnapshot
core.worker.[0-9]*
core.heap.[0-9]*

node_modules/

# Ficheros de bloqueo de paquetes de dependencias
# package-lock.json
# yarn.lock

dist/
build/
.next/
.nuxt/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

data/
*.bson

mongod.log

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
*.sublime-project
*.sublime-workspace

coverage/
.nyc_output/